* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* GENERALI */
body {
  font-family: 'Roboto', sans-serif;
}
main {
  width: 100vw;
  height: 100vh;
  background-color: #fff;
}
.clearfix {
  content: '';
  display: table;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}
.list-style {
  list-style: none;
}
.list-style li {
  display: inline;

}
.list-style li a {
  text-decoration: none;
  padding-right: 20px;
  color: #bcbdbd;
}
.list-style li a:hover {
  color: #363636;
}
.wrapper {
  width: 80%;
  margin: auto;
}
.none {
  display: none;
}
.active {
  display: block;
}

/* FLOAT-LEFT */
.logo-box {
  height: 80px;
  line-height: 80px;
}
.logo {
  width: 100px;
  vertical-align: text-bottom;
}

/* FLOAT-RIGHT */
.list-box {
  display: flex;
  height: 80px;
  align-items: center;
}
.button {
  padding: 10px;
  border-radius: 50px;
  text-decoration: none;
  background: #e70190;
  color: #fff;
}
.button:hover {
  background: #dd188f;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.accounts {
  left: -20%;
  top: 180%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.11);
}
.products {
  left: -140%;
  top: 180%;
  width: 300px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.11);
}
.company {
  left: -80%;
  top: 180%;
  width: 200px;
  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.11);
}
.help {
  left: -120%;
  top: 180%;
  width: 200px;
  padding: 30px 20px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.11);
}
.languages {
  left: -110%;
  top: 180%;

  padding: 30px;
  background-color: #fff;
  box-shadow: 0px 0px 7px 4px rgba(0,0,0,0.11);
}
.products li,
.company li,
.help li,
.languages li  {
  display: block;
}
.drop li a {
  line-height: 60px;
}
